:host {
  background: var(--gray090);
  border-left: 1px solid var(--gray050);
  border-top: 1px solid var(--gray050);
  box-sizing: border-box;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition: transform var(--pageTransitionTime);
  width: calc(100% - var(--siblings, 0) * var(--pageYOffset));
}

#childHolder {
  bottom: 0;
  position: absolute;
  top: var(--pageYOffset);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition: transform var(--pageTransitionTime);
  width: calc(100% - var(--pageXOffset));
}

:host(:not([selected])) #childHolder {
  transform: translateX(var(--pageYOffset));
}

:host([selected]) #childHolder {
  transform: translateX(var(--pageXOffset));
}

#link {
  height: 100%;
  opacity: 0.2;
  outline: none;
  position: absolute;
  top: 0;
  width: var(--pageYOffset);
}

:host(:not([selected])) #link {
  display: block;
}

:host([selected]) #link {
  display: none;
}

#label {
  padding: 0 6px;
  position: absolute;
  top: 0;
  transform-origin: 100% 0;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition: transform var(--pageTransitionTime),
    opacity var(--pageTransitionTime);
}

:host([selected]) #label {
  transition: transform var(--pageTransitionTime),
    opacity var(--pageTransitionTime), visibility var(--pageTransitionTime);
}

:host(:not([selected])) #label,
:host([contains-content]) #label {
  transform: translateX(-100%) rotateZ(-90deg);
}

:host([selected][contains-content]) #label {
  opacity: 0;
  visibility: hidden;
}

#content {
  display: block;
  transition: opacity var(--pageTransitionTime) linear;
}

:host(:not([selected])) #content {
  opacity: 0;
}

#content::slotted(*) {
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
