:host {
  background: var(--gray090);
  border: 1px solid var(--gray050);
  border-right: none;
  border-bottom: none;
  box-sizing: border-box;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  transition: transform 500ms;
  transition-timing-function: transform cubic-bezier(1, 0, 0, 1);
  width: calc(100% - var(--siblings, 0) * var(--pageYOffset));
}

#childHolder {
  bottom: 0;
  position: absolute;
  top: var(--pageYOffset);
  transition: transform 500ms;
  transition-timing-function: transform cubic-bezier(1, 0, 0, 1);
  width: calc(100% - var(--pageXOffset));
}

:host(:not([selected])) #childHolder {
  transform: translateX(var(--pageYOffset));
}

:host([selected]) #childHolder {
  transform: translateX(var(--pageXOffset));
}

#link {
  height: 100%;
  opacity: 0.2;
  outline: none;
  position: absolute;
  top: 0;
  width: var(--pageYOffset);
}

:host(:not([selected])) #link {
  display: block;
}

:host([selected]) #link {
  display: none;
}

#label {
  padding: 0 6px;
  transition: transform 500ms;
  transform-origin: 15px 15px;
  transition-timing-function: transform cubic-bezier(1, 0, 0, 1);
}

:host(:not([selected])) #label {
  transform: rotateZ(90deg);
}
