page-element {
  left: 0;
}
page-element + page-element {
  left: var(--pageYOffset);
}
page-element + page-element + page-element {
  left: calc(var(--pageYOffset) * 2);
}
page-element + page-element + page-element + page-element {
  left: calc(var(--pageYOffset) * 3);
}
page-element + page-element + page-element + page-element + page-element {
  left: calc(var(--pageYOffset) * 4);
}
page-element
  + page-element
  + page-element
  + page-element
  + page-element
  + page-element {
  left: calc(var(--pageYOffset) * 5);
}
page-element
  + page-element
  + page-element
  + page-element
  + page-element
  + page-element
  + page-element {
  left: calc(var(--pageYOffset) * 6);
}
page-element
  + page-element
  + page-element
  + page-element
  + page-element
  + page-element
  + page-element
  + page-element {
  left: calc(var(--pageYOffset) * 7);
}
page-element
  + page-element
  + page-element
  + page-element
  + page-element
  + page-element
  + page-element
  + page-element
  + page-element {
  left: calc(var(--pageYOffset) * 8);
}

page-element[selected] ~ page-element {
  transform: translateX(calc(100% - var(--pageYOffset)));
}
