:host {
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

text-element {
  color: var(--white100);
}

canvas {
  background-color: var(--gray020);
  cursor: grab !important;
  height: 100%;
  top: 0;
  width: 100%;
}

canvas.grabbing {
  cursor: grabbing !important;
}

.invisible {
  position: absolute;
}

form {
  color: var(--white100);
  left: var(--pageXOffset);
  position: absolute;
  top: var(--pageYOffset);
}

tr {
  line-height: 23px;
}

th {
  font: inherit;
  text-align: right;
}

td {
  padding-left: 5px;
  text-align: left;
}
