:host {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#pixelHolder {
  height: 100%;
  position: absolute;
  width: 100%;
}

.pixel {
  display: inline-block;
}
