:host {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

canvas {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.5;
  background:red;
}

img {
  background:blue;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.2;
}
