@font-face {
  font-family: "title";
  font-weight: regular;
  src: url("./fonts/title.woff") format("woff");
}

@font-face {
  font-family: "body";
  font-weight: regular;
  src: url("./fonts/body.woff") format("woff");
}

@font-face {
  font-family: "body";
  font-weight: bold;
  src: url("./fonts/body-bold.woff") format("woff");
}

@font-face {
  font-family: "body";
  font-style: italic;
  font-weight: regular;
  src: url("./fonts/body-italic.woff") format("woff");
}

@font-face {
  font-family: "executable";
  src: url("./fonts/executable.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "clacon";
  src: url("./fonts/clacon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  --black000: #000;
  --gray010: #1a1a1a;
  --gray020: #333;
  --gray030: #4d4d4d;
  --gray040: #666;
  --gray050: #808080;
  --gray060: #999;
  --gray070: #b3b3b3;
  --gray080: #ccc;
  --gray090: #e5e5e5;
  --white100: #fff;
  --green100: #0f0;
  --red100: #f00;
  --blue100: #00f;
  --yellow100: #ff0;
  --magenta100: #f0f;
  --cyan100: #0ff;

  --pageXOffset: 6px;
  --pageYOffset: 30px;
  --buttonHeight: 16px;

  background: var(--black000);
  height: 100%;
  margin: 0;
  overflow: hidden;
}

[slot="content"] {
  display: none;
}
