tree-branch {
  left: 0;
}
tree-branch:nth-of-type(2) {
  left: var(--pageYOffset);
}
tree-branch:nth-of-type(3) {
  left: calc(var(--pageYOffset) * 2);
}
tree-branch:nth-of-type(4) {
  left: calc(var(--pageYOffset) * 3);
}
tree-branch:nth-of-type(5) {
  left: calc(var(--pageYOffset) * 4);
}
tree-branch:nth-of-type(6) {
  left: calc(var(--pageYOffset) * 5);
}
tree-branch:nth-of-type(7) {
  left: calc(var(--pageYOffset) * 6);
}
tree-branch:nth-of-type(8) {
  left: calc(var(--pageYOffset) * 7);
}

tree-branch[selected] ~ tree-branch {
  transform: translateX(calc(100% - var(--pageYOffset)));
}

body > tree-branch {
  border: none;
}
